* {
    font-family: 'Source Sans Pro', sans-serif;

}

.bio {
    text-align: left;
    padding-right: 10%;
    padding-top: 5%;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
    word-wrap: normal;
    line-height: 1.6;
}

.themed-container {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}


.card-title {
    justify-content: center;
   }

/* .kaite-name {
    padding-top: 15pt;
    text-align: left;
    font-family: 'Prompt', sans-serif;
    font-size: 30pt;
} */

/* .card {
    box-shadow: 0 10px 10px 0 #282c34;
} */

.contact {
    font-size: 18pt;
    padding: 20pt;
}

#contact-me {
    padding: 20pt;
    font-size: 24pt;
}

.btn-secondary {
    margin: 4%;
    text-align: center;
    
}

.tech-skills {
    text-align: left;
    padding-left: 6%;
    padding-top: 4%;
    font-family: 'Source Sans Pro', sans-serif;
}

.resume-pdf {
    font-size: 20pt;
}

h3 {
    font-size: 24pt;
}

li {
    font-size: 14pt;
}

img {
    border-radius: 3px;
}