.bio {
    text-align: left;
    /* padding-top: 60pt; */
    padding-right: 15%;
    color: aqua;
    font-size: 14pt;
}

.themed-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-title {
    justify-content: center;
   }

.gallery-container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.kaite-name {
    padding-bottom: 15pt;
    text-align: left;
}

.contact {
    font-size: 18pt;
    padding: 20pt;
}

#contact-me {
    padding: 20pt;
}

.btn-secondary {
    margin: 4%;
    text-align: center;
    
}

.tech-skills {
    text-align: left;
    padding-left: 6%;
    padding-top: 4%;
}