* {
    font-family: 'Source Sans Pro', sans-serif;

}

.bio {
    text-align: left;
    padding-right: 15%;
    /* color: aqua; */
    font-size: 15pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.themed-container {
    margin-top: 5%;
    margin-bottom: 5%;

}


.card-title {
    justify-content: center;
   }

/* .gallery-container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
} */

.kaite-name {
    padding-top: 15pt;
    text-align: left;
    /* font-family: 'Fjalla One', sans-serif;     */
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Fjalla One', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Fjalla One', sans-serif; */
    font-family: 'Prompt', sans-serif;
    font-size: 30pt;
}

.contact {
    font-size: 18pt;
    padding: 20pt;
}

#contact-me {
    padding: 20pt;
}

.btn-secondary {
    margin: 4%;
    text-align: center;
    
}

.tech-skills {
    text-align: left;
    padding-left: 6%;
    padding-top: 4%;
    font-family: 'Source Sans Pro', sans-serif;
}

.resume-pdf {
    font-size: 20pt;
}

h3 {
    font-size: 24pt;
    /* color: crimson; */
}

li {
    font-size: 14pt;
}