/* this is the css file to use */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  font-size: 14pt;

} 

.about-me {
  background-color: #16697a;
}



.navtabs {

}


.nav-item {
  
}

.projectCard {
  
}

.card-title {
 justify-content: center;
}

.button {
  color: red;
}

.footer{
  /* margin-top: 1rem; */
  padding: 1rem;
  background-color: rgb(207, 212, 197);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  
}

.footer-type {
  justify-content: center;
  align-items: center;
  font-size: 24;
  color: rgb(23, 23, 56);
}

.container {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  margin-top: 0px;
}

.pdf {

}

.card-title {
  justifyContent: center;
  color: purple;
}

p {
  /* color: purple; */
}
