/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Global Styles */
:root {
  /* --primary-color: #ff5a5f; */
  --primary-color: #03012c;
  --dark-color: #0b3954;
  --light-color: #bfd7ea;
  --danger-color: #c81d25;
  --success-color: #087e8b;
  
}

* {
  font-family: 'Lato', 'sans-serif'
}

#primary-color {
  background: var(--primary-color);
}

/* .background-color {
  background-color: var(--dark-colorr);
} */
.container {
  /* background-color: #282c34; */
  /* color: white; */
  /* color: #282c34; */
  /* padding: 40px; */
  text-align: center;
  /* margin-top: 25px; */
}

.themed-container {
  margin-top: 5%;
  margin-bottom: 5%;
  /* background-color: var(--light-color); */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 3px #282c34; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 16pt;
  align-items: center;
  /* padding: 0.7rem 2rem; */
  z-index: 1;
  width: 100%;
  /* background-color: rgb(207, 212, 197); */
  background-color: var(--primary-color);
  color: var(--light-color);
}

.navbar ul {
  display: flex;
  list-style: none;
  padding-top: 0.5rem;

  background-color: var(--primary-color);
}

.navbar li a {
  color: var(--light-color);

}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
  background-color: var(--primary-color);

}

.navbar a:hover {
  color: var(--success-color);
  text-decoration: none;
}

#nav-name {
  background-color: var(--primary-color);

}

.link {
  color: var(--dark-color);
  font-size: 24pt;
}

h1 {
  padding-left: 1rem;
}

/* About Page */


.bio {
  text-align: left;
  padding-right: 10%;
  padding-top: 15px;
  font-size: 16pt;
  word-wrap: normal;
  line-height: 1.6;
}

#kaite-pic {
  box-shadow: 0 0 3px #282c34;
}

.tech-skills {
  text-align: left;
  padding-left: 6%;
  padding-top: 4%;
  /* font-family: "Source Sans Pro", sans-serif; */
  margin: 0;
}


/* Projects page */
  .gallery-container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

.row {

}

.card-title {
  text-align: center;
}

.card-text {
  text-align: left;
  padding-left: 5%;
}

.gitlogo {
  width: 125pt;
}



.background-color {
  background-color: var(--primary-colorr);
}

.card-title {
  justify-content: center;
}

/* REsume page */

.resume-pdf {
  font-size: 20pt;
  border-radius: 3px;
  box-shadow: 0 0 3px #282c34;
}

/* Contact page */

.contact {
  font-size: 18pt;
  padding: 20pt;
}

#contact-me {
  padding: 10pt;
  margin-top: 20px;
  /* margin-bottom: 25px; */
  font-size: 24pt;
  border-radius: 5px;
}

#githublogo {
  margin-top: 25px;
}



#email-small {
  margin-top: 0px;
}

.btn-secondary {
  margin: 4%;
  text-align: center;
}

h3 {
  font-size: 24pt;
  
}

li {
  font-size: 14pt;
}

img {
  border-radius: 5px;

}

.linkedinlogo {
  width: 125pt;
  padding: 15pt;
}

.footer {
  /* margin-top: 1rem; */
  padding: 0.5rem;
  /* padding-top: 40pt; */
  /* background-color: rgb(207, 212, 197); */
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  /* color: rgb(23, 23, 56); */
  /* color: var(--dark-color) */
}

.octocat {
  height: 30pt;
}


/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
