body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /* .footer {
    justify-content: center;
    align-items: center;
    font-size: 24;
    color: rgb(23, 23, 56);
  } */
  
  .nav {
  
  } 
  
  .navtabs {
  
  }
  
  
  .nav-item {
    
  }
  
  .projectCard {
    
  }



  