body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* #use this to style navbar */
  .link {
  color: #282c34;
  font-size: 24pt;
  } 

  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    align-items: center;
    /* padding: 0.7rem 2rem; */
    z-index: 1;
    width: 100%;
    background-color: rgb(207, 212, 197);
    color: rgb(23, 23, 56)
  } 

  .navbar ul {
    display: flex;
    list-style: none;
    padding-top: .5rem;
  }

  .navbar a {
    padding: 0.45rem;
    margin: 0 0.25rem;
  }

  .navbar a:hover {
    color: purple;
    text-decoration: none;
  }

  .nav-update {
    font-size: 24pt;
  }

  .footer{
    /* margin-top: 1rem; */
    padding: 1rem;
    /* padding-top: 40pt; */
    background-color: rgb(207, 212, 197);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    color: rgb(23, 23, 56);
  }

 

  