/* this is the css file to use */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  font-size: 16pt;
  background-color: rgb(207, 212, 197);
  color: rgb(23, 23, 56)
} 

.about-me {
  background-color: #16697a;
}

.projects-container {
margin: 10%;
padding-inline-start: 15%;
}


.nav-item {
  
}

.projectCard {
  
}

.gallery-container{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* align-content: center; */
}

.button {
  /* color: red; */
  /* align-items: center; */
}

.footer{
  /* margin-top: 1rem; */
  padding: 1rem;
  paddint-top: 40pt;
  background-color: rgb(207, 212, 197);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  color: rgb(23, 23, 56);
}

.footer-type {
  justify-content: center;
  align-items: center;
  font-size: 24;
  color: rgb(23, 23, 56);
}

.container {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  margin-top: 0px;
}

.card-title {
  text-align: center;
  
}

.card-text {
  text-align: left;
  padding-left: 5%;
}

.gitlogo {
  width: 125pt;
}

.linkedinlogo {
  width: 125pt;
}

.octocat {
  height: 30pt;
}

