/* this is the css file to use */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .nav {
  font-size: 16pt;
  background-color: rgb(207, 212, 197);
  color: rgb(23, 23, 56)
}  */

.gallery-container{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* align-content: center; */
}











